@font-face {
  font-family: "Avenir Next";
  src: "../../assets/Font/AvenirNextLTPro-Regular.otf";
  src: "../../assets/Font/Alternative files/AvenirNextLTPro.ttf";
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: "../../assets/Font/AvenirNextLTPro-Demi.otf";
  src: "../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf";
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: "../../assets/Font/AvenirNextLTPro-Bold.otf";
  src: "../../assets/Font/Alternative files/AvenirNextLTProBold.ttf";
  font-weight: 700;
}
