$tablet-size: 720px;
$desktop-size: 1280px;
$primary-color1: #323232;
$primary-color2: #afafaf;
$primary-color3: #fff;
$secondary-color1: #000;
$secondary-color2: #e1e1e1;
$secondary-color3: #fafafa;
