@font-face {
  font-family: "Avenir Next";
  src: "../../assets/Font/AvenirNextLTPro-Regular.otf";
  src: "../../assets/Font/Alternative files/AvenirNextLTPro.ttf";
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: "../../assets/Font/AvenirNextLTPro-Demi.otf";
  src: "../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf";
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: "../../assets/Font/AvenirNextLTPro-Bold.otf";
  src: "../../assets/Font/Alternative files/AvenirNextLTProBold.ttf";
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  color: #323232;
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  h3 {
    font-size: 2.5rem;
  }
}

.main__about-quote {
  color: #323232;
  font-weight: 600;
  font-size: 1.25rem;
}
@media (min-width: 48rem) {
  .main__about-quote {
    font-size: 1.5rem;
  }
}
.main__about-quote-author {
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
  font-family: "Avenir Next";
}

.nav {
  height: 7rem;
  width: 100vw;
  background-color: #323232;
  box-sizing: border-box;
  padding-top: 1.5rem;
}
@media (min-width: 48rem) {
  .nav {
    height: 6.5rem;
  }
}
.nav__shows {
  height: 7.5rem;
}
@media (min-width: 48rem) {
  .nav__shows {
    height: 7rem;
  }
}
.nav__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 48rem) {
  .nav__box {
    justify-content: start;
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 80rem) {
  .nav__box {
    width: 80%;
  }
}
@media (min-width: 48rem) {
  .nav__box-logo {
    margin-right: 3rem;
  }
}
.nav__box-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (min-width: 48rem) {
  .nav__box-list {
    width: 30%;
  }
}
.nav__box-list-item {
  width: 49%;
  text-align: center;
  display: inline-block;
}
.nav__box-list-item:hover {
  position: relative;
  z-index: 3;
}
.nav__box-list-item:hover::before {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  border-bottom: 3.5px solid white;
  padding-top: 3.1rem;
}
@media (min-width: 48rem) {
  .nav__box-list-item:hover::before {
    border: none;
  }
}
.nav__box-list-item-link {
  text-decoration: none;
  color: #e1e1e1;
  z-index: 2;
}
.nav__box-list-item-link:hover {
  color: #fff;
}
@media (min-width: 48rem) {
  .nav__box-list-item-link:hover {
    padding-bottom: 2.4rem;
    border-bottom: 4px solid #fff;
  }
}
.nav__box-list-item-link-active {
  color: #fff;
}
@media (min-width: 48rem) {
  .nav__box-list-item-link-active {
    border-bottom: 4px solid #fff;
    padding-bottom: 2.4rem;
  }
}
.nav__box-list-item--active {
  position: relative;
  z-index: 3;
}
.nav__box-list-item--active::before {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  border-bottom: 3.5px solid white;
  padding-top: 3.1rem;
}
@media (min-width: 48rem) {
  .nav__box-list-item--active::before {
    border: none;
  }
}

.footer {
  position: relative;
  width: 100%;
  color: white;
  background-color: #323232;
  padding: 1.5rem 0;
}
.footer__bandsite {
  padding-top: 2rem;
}
@media (min-width: 48rem) {
  .footer__bandsite {
    height: 1.5rem;
    padding: 0;
    position: absolute;
    top: 3.5rem;
    right: 2.5rem;
  }
}
@media (min-width: 48rem) {
  .footer__copyright {
    margin: 2rem 0 0 0;
  }
}
.footer__container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 80rem) {
  .footer__container {
    width: 80%;
  }
}
.footer__container-box .icons {
  height: 1.5rem;
  margin: 0 1.5rem 0 0;
}
@media (min-width: 48rem) {
  .footer__container-box .icons {
    margin: 0 0.8rem;
  }
}
@media (min-width: 48rem) {
  .footer__container-box {
    display: flex;
    align-items: center;
  }
}
.footer__container-info {
  display: flex;
  flex-wrap: wrap;
}
.footer__container-info-contact {
  margin: 1rem 0;
  width: 80%;
}
@media (min-width: 48rem) {
  .footer__container-info-contact {
    width: 30%;
    margin: 0 1rem 0 0;
  }
}
.footer__container-info-contact-email {
  color: white;
  text-decoration: none;
}
.footer__container-info-contact-name {
  margin: 0;
}
.footer__container-info-contact-location--m-b {
  margin-bottom: 0;
}
.footer__container-info-contact-location--m-t {
  margin-top: 0;
}

.hero {
  display: flex;
  align-items: center;
  height: 55vh;
  width: 100vw;
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 50%;
}
.hero__header {
  z-index: 2;
  width: 90%;
  margin: 0 auto;
  color: white;
}
@media (min-width: 80rem) {
  .hero__header {
    width: 80%;
  }
}

.main {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 80rem) {
  .main {
    width: 80%;
  }
}
.main__about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 48rem) {
  .main__about {
    width: 80%;
  }
}
.main__about-img {
  width: 100%;
}
.main__about-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.main__about-description-p {
  width: 90%;
}
@media (min-width: 48rem) {
  .main__about-description-p {
    width: 45%;
  }
}

.gallery-container {
  background-color: #fafafa;
  width: 100%;
  padding: 0.8rem 0;
}
.gallery-container__gallery {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 80rem) {
  .gallery-container__gallery {
    width: 80%;
  }
}
.gallery-container__gallery-photo-section {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.gallery-container__gallery-photo-section-img {
  margin: 0.8rem 0;
  width: 100%;
  filter: grayscale(1);
}
.gallery-container__gallery-photo-section-img:hover {
  filter: grayscale(0);
}
@media (min-width: 48rem) {
  .gallery-container__gallery-photo-section-img {
    width: 31.5%;
  }
}

.comments-section {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 80rem) {
  .comments-section {
    width: 80%;
  }
}

.comment-form-box {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
@media (min-width: 48rem) {
  .comment-form-box {
    width: 80%;
  }
}
@media (min-width: 80rem) {
  .comment-form-box {
    width: 70%;
  }
}
.comment-form-box__img {
  padding-top: 1.4rem;
  width: 15%;
  text-align: center;
}
.comment-form-box__img-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
@media (min-width: 48rem) {
  .comment-form-box__img-avatar {
    height: 3.5rem;
    width: 3.5rem;
  }
}
.comment-form-box__form {
  width: 84%;
  position: relative;
}
.comment-form-box__form-name {
  color: #afafaf;
  font-weight: 600;
}
.comment-form-box__form-comment {
  color: #afafaf;
  font-weight: 600;
}
.comment-form-box__form .submit-btn {
  text-transform: uppercase;
  background-color: #323232;
  color: #fafafa;
  padding: 0.7rem 0;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  border: none;
}
@media (min-width: 48rem) {
  .comment-form-box__form .submit-btn {
    width: 30%;
    display: block;
    margin: 0 0 0 auto;
  }
}

.error {
  border: 1px solid #d22d2d;
  border-radius: 4px;
}

#name {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
}
#name:focus {
  outline: none;
  border: 1px solid #323232;
  border-radius: 4px;
}

#comment {
  width: 100%;
  height: 6rem;
  padding: 0.7rem;
  resize: none;
  margin: 0.5rem 0 1rem 0;
}
#comment:focus {
  outline: none;
  border: 1px solid #323232;
  border-radius: 4px;
}

.comment-card-container {
  width: 100%;
  display: flex;
  margin: 0.5rem auto;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 48rem) {
  .comment-card-container {
    width: 80%;
  }
}
@media (min-width: 80rem) {
  .comment-card-container {
    width: 70%;
  }
}
.comment-card-container__img {
  width: 15%;
  text-align: center;
}
.comment-card-container__img-avatar {
  border: none;
  background-color: #e1e1e1;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
@media (min-width: 48rem) {
  .comment-card-container__img-avatar {
    height: 3.5rem;
    width: 3.5rem;
  }
}
.comment-card-container__comment {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comment-card-container__comment-name {
  font-weight: 600;
}
.comment-card-container__comment-date {
  color: #afafaf;
}
.comment-card-container__comment-body {
  width: 100%;
}
.comment-card-container__comment-dlt {
  margin-bottom: 0.5rem;
}

.new-comments {
  width: 100%;
  margin: 0 auto;
}

.hr {
  color: #e1e1e1;
}
@media (min-width: 48rem) {
  .hr {
    width: 80%;
  }
}
@media (min-width: 80rem) {
  .hr {
    width: 70%;
  }
}

/*# sourceMappingURL=bio.css.map */
