@font-face {
  font-family: "Avenir Next";
  src: "../../assets/Font/AvenirNextLTPro-Regular.otf";
  src: "../../assets/Font/Alternative files/AvenirNextLTPro.ttf";
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: "../../assets/Font/AvenirNextLTPro-Demi.otf";
  src: "../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf";
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: "../../assets/Font/AvenirNextLTPro-Bold.otf";
  src: "../../assets/Font/Alternative files/AvenirNextLTProBold.ttf";
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  color: #323232;
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  h3 {
    font-size: 2.5rem;
  }
}

.main__about-quote {
  color: #323232;
  font-weight: 600;
  font-size: 1.25rem;
}
@media (min-width: 48rem) {
  .main__about-quote {
    font-size: 1.5rem;
  }
}
.main__about-quote-author {
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
  font-family: "Avenir Next";
}

.nav {
  height: 7rem;
  width: 100vw;
  background-color: #323232;
  box-sizing: border-box;
  padding-top: 1.5rem;
}
@media (min-width: 48rem) {
  .nav {
    height: 6.5rem;
  }
}
.nav__shows {
  height: 7.5rem;
}
@media (min-width: 48rem) {
  .nav__shows {
    height: 7rem;
  }
}
.nav__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 48rem) {
  .nav__box {
    justify-content: start;
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 80rem) {
  .nav__box {
    width: 80%;
  }
}
@media (min-width: 48rem) {
  .nav__box-logo {
    margin-right: 3rem;
  }
}
.nav__box-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (min-width: 48rem) {
  .nav__box-list {
    width: 30%;
  }
}
.nav__box-list-item {
  width: 49%;
  text-align: center;
  display: inline-block;
}
.nav__box-list-item:hover {
  position: relative;
  z-index: 3;
}
.nav__box-list-item:hover::before {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  border-bottom: 3.5px solid white;
  padding-top: 3.1rem;
}
@media (min-width: 48rem) {
  .nav__box-list-item:hover::before {
    border: none;
  }
}
.nav__box-list-item-link {
  text-decoration: none;
  color: #afafaf;
  z-index: 2;
}
.nav__box-list-item-link:hover {
  color: #fff;
}
@media (min-width: 48rem) {
  .nav__box-list-item-link:hover {
    padding-bottom: 2.4rem;
    border-bottom: 4px solid #fff;
  }
}
.nav__box-list-item-link-active {
  color: #fff;
}
@media (min-width: 48rem) {
  .nav__box-list-item-link-active {
    border-bottom: 4px solid #fff;
    padding-bottom: 2.4rem;
  }
}
.nav__box-list-item--active {
  position: relative;
  z-index: 3;
}
.nav__box-list-item--active::before {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  border-bottom: 3.5px solid white;
  padding-top: 3.1rem;
}
@media (min-width: 48rem) {
  .nav__box-list-item--active::before {
    border: none;
  }
}

.footer {
  position: relative;
  width: 100%;
  color: white;
  background-color: #323232;
  padding: 1.5rem 0;
}
.footer__bandsite {
  padding-top: 2rem;
}
@media (min-width: 48rem) {
  .footer__bandsite {
    height: 1.5rem;
    padding: 0;
    position: absolute;
    top: 3.5rem;
    right: 2.5rem;
  }
}
@media (min-width: 48rem) {
  .footer__copyright {
    margin: 2rem 0 0 0;
  }
}
.footer__container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 80rem) {
  .footer__container {
    width: 80%;
  }
}
.footer__container-box .icons {
  height: 1.5rem;
  margin: 0 1.5rem 0 0;
}
@media (min-width: 48rem) {
  .footer__container-box .icons {
    margin: 0 0.8rem;
  }
}
@media (min-width: 48rem) {
  .footer__container-box {
    display: flex;
    align-items: center;
  }
}
.footer__container-info {
  display: flex;
  flex-wrap: wrap;
}
.footer__container-info-contact {
  margin: 1rem 0;
  width: 80%;
}
@media (min-width: 48rem) {
  .footer__container-info-contact {
    width: 30%;
    margin: 0 1rem 0 0;
  }
}
.footer__container-info-contact-email {
  color: white;
  text-decoration: none;
}
.footer__container-info-contact-name {
  margin: 0;
}
.footer__container-info-contact-location--m-b {
  margin-bottom: 0;
}
.footer__container-info-contact-location--m-t {
  margin-top: 0;
}

.hero {
  display: flex;
  align-items: center;
  height: 55vh;
  width: 100vw;
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 50%;
}
.hero__container {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 80rem) {
  .hero__container {
    width: 80%;
    margin: 0 auto;
  }
}
.hero__container-song {
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 80rem) {
  .hero__container-song {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47.5%;
  }
}
.hero__container-song-iframe {
  width: 100%;
}
@media (min-width: 48rem) {
  .hero__container-song-iframe {
    width: 90%;
  }
}
.hero__container-header {
  z-index: 2;
  width: 90%;
  margin: 0 auto;
  color: white;
}
@media (min-width: 80rem) {
  .hero__container-header {
    width: 47.5%;
  }
}
.hero__container-header-h1 {
  font-weight: 600;
  margin: 1rem 0;
}

.main {
  width: 100%;
  padding-top: 2rem;
}
@media (min-width: 80rem) {
  .main {
    padding-top: 2.5rem;
    display: flex;
  }
}
.main__header {
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 80rem) {
  .main__header {
    width: 1%;
  }
}
.main__header-box {
  width: 90%;
}
.main__header-box-keys {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main__shows-section {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 80rem) {
  .main__shows-section {
    width: 65%;
  }
}
.main .shows-keys {
  color: #afafaf;
  display: none;
}
@media (min-width: 48rem) {
  .main .shows-keys {
    width: 25%;
    margin-left: 1rem;
    display: inline-block;
  }
}

.btn {
  font-size: 1rem;
  height: 3rem;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: #323232;
  border: none;
  border-radius: 3px;
  color: white;
  display: block;
}
@media (min-width: 48rem) {
  .btn {
    padding: 0.5 1.5rem;
    margin: 0;
    width: auto;
    display: inline;
  }
}

.dates {
  font-weight: 600;
}

.keys {
  color: grey;
}
@media (min-width: 48rem) {
  .keys {
    display: none;
  }
}

.hidden-keys {
  padding: 1rem;
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 48rem) {
  .hidden-keys {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.shows-container {
  padding: 1rem;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #e1e1e1;
}
.shows-container:hover {
  background-color: #fafafa;
  cursor: pointer;
}
@media (min-width: 48rem) {
  .shows-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

ul {
  list-style: none;
}

li {
  margin: 0.5rem 0;
}
@media (min-width: 48rem) {
  li {
    width: 25%;
    display: inline-block;
    margin-left: 1rem;
  }
}

.none {
  border-bottom: none;
  position: absolute;
}
.none:hover {
  background-color: transparent;
}
@media (min-width: 48rem) {
  .none {
    position: relative;
  }
}
.none-btn {
  visibility: hidden;
}

.div-active {
  background-color: #afafaf;
}
.div-active:hover {
  background-color: #afafaf;
}

/*# sourceMappingURL=shows.css.map */
